<header class="bg-slate-100">
  <div class="px-5 py-3 xl:flex xl:justify-between xl:items-center">
    <div class="flex justify-between items-center">
      <a href="{{ routes.root_url }}">
        {% render 'logo' %}
      </a>
      <label for="nav-toggle-input" class="block xl:hidden">
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 12"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2" d="M1 1h15M1 6h15M1 11h15"
          />
        </svg>
      </label>
    </div>
    <input id="nav-toggle-input" type="checkbox" class="peer sr-only">
    <nav class="w-full xl:w-auto overflow-hidden hidden xl:block peer-checked:block">
      <ul class="xl:flex gap-5">
        {%- for link in linklists['main-menu'].links -%}
          <li>
            <a class="hover:underline" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
</header>
