{%- if collection == blank -%}
  {%- assign collection = collections.all -%}
{%- endif -%}
<div class="container my-12">
  {% paginate collection.products by 8 %}
    <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
      {% for product in collection.products %}
        <li>
          <a href="{{ product.url }}">
            {{ product.featured_image | image_url: width: 500 | image_tag }}
            <h2>{{ product.title }}</h2>
            <p>{{ product.price | money }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
    {%- if paginate.pages > 1 -%}
      <hr class="mt-4">
      <div class="mt-4">
        {% render 'pagination', paginate: paginate %}
      </div>
    {%- endif -%}
  {% endpaginate %}
</div>
